body{
    text-aling: center;
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(to right,#88D0FE,#8362DF);
}
div{
    padding: 20px 20%;
    margin: 30px;
    border: 2px solid #f5fe00;
    color: #001adf;
    border-radius: 120px;

    background-color: #DF590F;
}
.imgPato{
    border-radius: 120px;
    width: 37%;
}
.imgPatodos{
    width: 27%;
    border-radius: 80px;
}